<!doctype html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      class="smart-style-0">

    <th:block layout:replace="~{fragments/head}"/>

    <!--

       TABLE OF CONTENTS.

       Use search to find needed section.

       ===================================================================

       |  01. #CSS Links                |  all CSS links and file paths  |
       |  02. #FAVICONS                 |  Favicon links and file paths  |
       |  03. #GOOGLE FONT              |  Google font link              |
       |  04. #APP SCREEN / ICONS       |  app icons, screen backdrops   |
       |  05. #BODY                     |  body tag                      |
       |  06. #HEADER                   |  header tag                    |
       |  07. #PROJECTS                 |  project lists                 |
       |  08. #TOGGLE LAYOUT BUTTONS    |  layout buttons and actions    |
       |  09. #MOBILE                   |  mobile view dropdown          |
       |  10. #SEARCH                   |  search field                  |
       |  11. #NAVIGATION               |  left panel & navigation       |
       |  12. #MAIN PANEL               |  main panel                    |
       |  13. #MAIN CONTENT             |  content holder                |
       |  14. #PAGE FOOTER              |  page footer                   |
       |  15. #SHORTCUT AREA            |  dropdown shortcuts area       |
       |  16. #PLUGINS                  |  all scripts and plugins       |

       ===================================================================

       -->

    <!-- #BODY -->
    <!-- Possible Classes

        * 'smart-style-{SKIN#}'
        * 'smart-rtl'         - Switch theme mode to RTL
        * 'menu-on-top'       - Switch to top navigation (no DOM change required)
        * 'no-menu'			  - Hides the menu completely
        * 'hidden-menu'       - Hides the main menu but still accessable by hovering over left edge
        * 'fixed-header'      - Fixes the header
        * 'fixed-navigation'  - Fixes the main menu
        * 'fixed-ribbon'      - Fixes breadcrumb
        * 'fixed-page-footer' - Fixes footer
        * 'container'         - boxed layout mode (non-responsive: will not work with fixed-navigation & fixed-ribbon)
    -->
    <body class="no-menu hidden-menu smart-style-0">
        <div style="background-color: #ffffff">
            <div id="content">
                <!-- Begin page content -->
                <th:block layout:fragment="page-content"/>
                <!-- End of page content -->
            </div>
        </div>

        <th:block layout:replace="~{fragments/bottom-scripts}"/>


        <th:block layout:fragment="custom-script"/>

    </body>

</html>

