<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:fragment="end">


<!--================================================== -->

<!-- PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)-->
<script data-pace-options='{ "restartOnRequestAfter": true }' th:src="@{/js/plugin/pace/pace.min.js}"></script>


<!-- #PLUGINS -->
<!-- Link to Google CDN's jQuery + jQueryUI; fall back to local -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
    if (!window.jQuery) {
        document.write('<script src="/js/libs/jquery-3.2.1.min.js"><\/script>');
    }
</script>

<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script>
    if (!window.jQuery.ui) {
        document.write('<script src="/js/libs/jquery-ui.min.js"><\/script>');
    }
</script>

<!-- JARVIS WIDGETS -->
<script th:src="@{/js/smartwidgets/jarvis.widget.min.js}"></script>


<!-- IMPORTANT: APP CONFIG -->
<script th:src="@{/js/app.config.js}"></script>

<!-- BOOTSTRAP JS -->
<script th:src="@{/js/bootstrap/bootstrap.min.js}"></script>

<!--[if IE 8]>
<h1>Your browser is out of date, please update your browser by going to www.microsoft.com/download</h1>
<![endif]-->

<!-- MAIN APP JS FILE -->
<script th:src="@{/js/app.min.js}"></script>

<!-- Voice command : plugin -->
<script th:src="@{/js/speech/voicecommand.min.js}"></script>
<!-- UNDERSCOPE-MIN JS -->
<script th:src="@{/js/common/underscope-min.js}"></script>
<!-- MOMENT-MIN JS -->
<script th:src="@{/js/plugin/moment/moment.min.js}"></script>

<!-- COMMON JS -->
<script th:src="@{/js/common/common.js}"></script>
</html>